<div class=" m-0 text-white" style="background-color: rgb(29,113,187)">
	<h1
		class="m-0 p-0"
		style="background-color: rgb(29,113,187); font-size: 40px;"
	>
		CREATE PLAN
	</h1>
</div>
<div
	class="container text-center text-white mt-3 p-0"
	style="background-color: rgb(0,21,31);"
>
<form class="" action="/plans/:id" method="post">
	<button
		class="rounded-pill text-white border-0 px-5 py-2"
		style="background-color: rgb(29,113,187)"
	>
		CREATE
	</button>
<div class="">
	<label for="">Hips</label>
	<ul class="list-inline m-0">
		<li id="machine"class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> A1
		</li>
		<li id="machine" class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> A2
		</li>
		<li id="machine" class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> A3
		</li>
		<li id="machine" class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> A4
		</li>
		<li id="machine" class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> A5
		</li>
	</ul>
</div>
<div class="">
	<label for="">Legs</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> B1
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> B2
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> B3
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> B4
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> B5
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> B6
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> iB>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> B7
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> B8
		</li>
	</ul>
</div>
<div class="">
	<label for="">Upper Back</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> C1
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> C2
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> C3
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> C5
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> C7
		</li>
	</ul>
</div>
<div class="">
	<label for="">Chest</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> D5
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> D6
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> D7
		</li>
	</ul>
</div>
<div class="">
	<label for="">Shoulder</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> E1
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> E2
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> E3
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> E4
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> E5
		</li>
	</ul>
</div>
<div>
	<label for="">Torso</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> F1
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> F2
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> F3
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> F1
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> F2
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> F3
		</li>
	</ul>
</div>
<div>
<label for="">Neck</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> G1
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> G3
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> G4
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> G5
		</li>
	</ul>
</div>
<div>
	<label for="">Arms</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> H1
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> H2
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> H3
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> H4
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> H5
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> H6
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> H7
		</li>
	</ul>
</div>
<div>
	<label for="">Multi-Tower</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> J1
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> J2
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> J3
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> J4
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> J5
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> J9
		</li>
	</ul>
</div>
<div>
<label for="">Reck-Tower</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> K2
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> K3
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<input type="checkbox"> K4
		</li>
	</ul>
</div>
</form>

{{> navbar}}
