<div class=" m-0 text-white" style="background-color: rgb(29,113,187)">
	<h1
		class="m-0 p-0"
		style="background-color: rgb(29,113,187); font-size: 40px;"
	>
		CREATE PLAN
	</h1>
</div>
<div
	class="container text-center text-white mt-3 p-0"
	style="background-color: rgb(0,21,31);"
>
<div class="">
	<label for="">Hips</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >A1</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >A2</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >A3</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >A4</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >A5</a>
		</li>
	</ul>
</div>
<div class="">
	<label for="">Legs</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >B1</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >B2</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >B3</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >B4</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >B5</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >B6</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >iB6</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >B7</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >B8</a>
		</li>
	</ul>
</div>
<div class="">
	<label for="">Upper Back</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >C1</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >C2</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >C3</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >C5</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >C7</a>
		</li>
	</ul>
</div>
<div class="">
	<label for="">Chest</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >D5</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >D6</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >D7</a>
		</li>
	</ul>
</div>
<div class="">
	<label for="">Shoulder</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >E1</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >E2</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >E3</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >E4</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >E5</a>
		</li>
	</ul>
</div>
<div>
	<label for="">Torso</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >F1.1</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >F2.1</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >F3.1</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >F1</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >F2</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >F3</a>
		</li>
	</ul>
</div>
<div>
<label for="">Neck</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >G1</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >G3</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >G4</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >G5</a>
		</li>
	</ul>
</div>
<div>
	<label for="">Arms</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >H1</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >H2</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >H3</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >H4</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >H5</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >H6</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >H7</a>
		</li>
	</ul>
</div>
<div>
	<label for="">Multi-Tower</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >J1</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >J2</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >J3</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >J4</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >J5</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >J9</a>
		</li>
	</ul>
</div>
<div>
<label for="">Reck-Tower</label>
	<ul class="list-inline m-0">
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >K2</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >K3</a>
		</li>
		<li class="list-inline-item m-2 p-1 text-white border" style="width: 40px; height: 40px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="/plans/asd" class="text-white text-center" >K4</a>
		</li>
	</ul>
</div>

{{> navbar}}
