<div class=" m-0 p-3 text-white" style="background-color: rgb(29,113,187)">
	<h1
		class="m-0 p-0"
		style="background-color: rgb(29,113,187); font-size: 40px;"
	>
		MY PLANS
	</h1>
</div>
<div
	class="container text-center text-white mt-3 p-0"
	style="background-color: rgb(0,21,31);"
>
	<ul class="m-0 p-0" >
		<li class="m-3 p-3 text-white" style="width: 340px; height: 60px; background-color: rgba(26,67,105,1)">
			<a href="/plans/asd" class="text-white text-center" >Plan 1</a>
		</li>
		<li class="m-3 p-3 text-white" style="width: 340px; height: 60px; background-color: rgba(26,67,105,1)">
			<a href="/plans/asd" class="text-white text-center" >Plan 2</a>
		</li>
		<li class="m-3 p-3 text-white" style="width: 340px; height: 60px; background-color: rgba(26,67,105,1)">
			<a href="/plans/asd" class="text-white text-center" >Plan 3</a>
		</li>
		<li class="m-3 p-3 text-white" style="width: 340px; height: 60px; background-color: rgba(26,67,105,1)">
			<a href="/plans/asd" class="text-white text-center" >Plan 4</a>
		</li>
		<li class="m-3 p-3 text-white" style="width: 340px; height: 60px; background-color: rgba(26,67,105,1)">
			<a href="/plans/asd" class="text-white text-center" >Plan 5</a>
		</li>
		<li class="m-3 p-3 text-white" style="width: 340px; height: 60px; background-color: rgba(26,67,105,1)">
			<a href="/plans/asd" class="text-white text-center" >Plan 6</a>
		</li>

	</ul>
</div>
<div
	class="container text-center text-white mt-3 p-0"
	style="background-color: rgb(0,21,31);"
>
	<button
		type="button"
		class="rounded-pill text-white border-0 px-5 py-2"
		style="background-color: rgb(29,113,187)"
	>
		NEW PLAN
	</button>
</div>
{{> navbar}}
