<div class=" m-0 p-3 text-white" style="background-color: rgb(29,113,187)">
	<h1
		class="m-0 p-0"
		style="background-color: rgb(29,113,187); font-size: 40px;"
	>
		{{plans.title}}
	</h1>
</div>
<div
	class="container text-center text-white mt-4 p-0"
	style="background-color: rgb(0,21,31);"
>
<div class="">
	<ul class="list-inline m-0"> 
		{{#each plans.machines as |machine|}}
		<li class="list-inline-item m-2 p-1 text-white text-center border" style="width: 80px; height: 80px; background-color: rgba(26,67,105,1); border-color: rgb(29,113,187,1),">
			<a href="" class="text-white text-center" >{{machine}}</a>
		</li>
		{{/each}}
	</ul>
</div>
<a href="{{plans._id}}/edit">
<button
		class="rounded-pill text-white border-0 px-5 py-2 mt-4"
		style="background-color: rgb(29,113,187)"
	>
		EDIT
	</button>
</a>

{{> navbar}}
