<div class=" m-0 p-3 text-white" style="background-color: rgb(29,113,187)">
	<h1
		class="m-0 p-0"
		style="background-color: rgb(29,113,187); font-size: 40px;"
	>
		RECORDS
	</h1>
</div>
<div
	class="container text-center text-white mt-3 p-0"
	style="background-color: rgb(0,21,31);"
>
	<ul class="m-0 p-0" >
		<li class="m-3 p-3 text-white" style="width: 340px; height: 60px; background-color: rgba(26,67,105,1)">
			<a href="/plans/asd" class="text-white text-center" >22-01-22</a>
		</li>
		<li class="m-3 p-3 text-white" style="width: 340px; height: 60px; background-color: rgba(26,67,105,1)">
			<a href="/plans/asd" class="text-white text-center" >24-01-22</a>
		</li>
		<li class="m-3 p-3 text-white" style="width: 340px; height: 60px; background-color: rgba(26,67,105,1)">
			<a href="/plans/asd" class="text-white text-center" >27-01-22</a>
		</li>
		<li class="m-3 p-3 text-white" style="width: 340px; height: 60px; background-color: rgba(26,67,105,1)">
			<a href="/plans/asd" class="text-white text-center" >30-01-22</a>
		</li>
		<li class="m-3 p-3 text-white" style="width: 340px; height: 60px; background-color: rgba(26,67,105,1)">
			<a href="/plans/asd" class="text-white text-center" >01-02-22</a>
		</li>
		<li class="m-3 p-3 text-white" style="width: 340px; height: 60px; background-color: rgba(26,67,105,1)">
			<a href="/plans/asd" class="text-white text-center" >03-02-22</a>
		</li>
	</ul>
</div>
{{> navbar}}
