<div class=" m-0 p-3 text-white" style="background-color: rgb(29,113,187)">
	<h1
		class="m-0 p-0"
		style="background-color: rgb(29,113,187); font-size: 40px;"
	>
		TRAINING DATE
	</h1>
</div>

{{> navbar}}
