<div class="header m-0 p-3 text-white">
	<h1 class="header m-0 p-0">
		LOGIN
	</h1>
</div>
		<!--CONTENT-->
    <div
      class="container text-center text-white mt-3 p-0"
      style="background-color: rgb(0,21,31);"
    >
      <img
        src="/images/kieser_logo.png"
        class="img-responsive mw-100 m-0 p-0"
      />
      <form
        class="justify-content-center text-white mt-5 mb-3 p-0"
        action="/"
        method="post"
      >
        <div class="m-3 text-center">
          <input
            class="text-center rounded-pill px-4 py-2"
            type="email"
            name="email"
            value=""
            placeholder="E-MAIL"
          />
        </div>
        <div class="m-3">
          <input
            class="text-center rounded-pill px-4 py-2"
            type="password"
            name="password"
            value=""
            placeholder="PASSWORD"
          />
        </div>
        <button
          class="rounded-pill text-white border-0 px-5 py-2"
          style="background-color: rgb(29,113,187)"
        >
          LOGIN
        </button>
      </form>
     <a href="/signup">
      <button
        class="rounded-pill text-white border-0 px-4 py-1"
        style="background-color: rgb(26,67,105); font-size: 15px"
      > SIGNUP
      </button>
      </a>
    </div>
    {{> navbar}}
