<div class="header m-0 p-3 text-white">
	<h1 class="header m-0 p-0">
		Machine A1
	</h1>
</div>
<div
	class="container text-white m-0 p-0"
	style="background-color: rgb(0,21,31);"
>
	<img
		src="/images/a1.png"
	class="img-responsive mw-100 m-0 p-0"
	/>
	<div class="container text-start text-white m-0 p-0">
		<label for="">Adjustments:</label>
		<ul>
			<li>Weight: 60 lbs</li>
			<li>Pillow: No</li>
			<li>Range: 10-20</li>
		</ul>
	</div>
</div>
  <center>
	<div id="container">
		<div>
		<span class="text-white" id="counter" style="font-size: 100px"></span>
		</div>
		<button id="start" class="rounded-pill text-white border-0 px-5 py-2" style="background-color: rgb(29,113,187); font-size: 30px">Start</button>
		<button id="stop" class="rounded-pill text-white border-0 px-5 py-2" style="background-color: rgb(29,113,187); font-size: 30px">Stop</button>
	</div>
  </center>
</div>
{{> navbar}}
