<div class="header m-0 p-3 text-white">
	<h1 class="header m-0 p-0">
		Machine {{machines.title}}
	</h1>
</div>
<div
	class="container text-white m-0 p-0"
	style="background-color: rgb(0,21,31);"
>
	<img
		src="{{machines.img}}"
	class="img-responsive mw-100 m-0 p-0"
	/>
	<div class="container text-start text-white m-0 p-0">
		<label for="">Adjustments:</label>
		<ul>
			<li>Weight: {{machines.weight}} lbs</li>
			<li>Pillow: No</li>
			<li>Range: {{machines.range}}</li>
		</ul>
	</div>
</div>
  <center>
	  <form action="/records" method="post">
		<div>
		<input type="text" name="duration" class="timer input-padding-y-5 bg-transparent" id="counter" style="font-size: 100px" value="" readonly></input>
		</div>
		<button type="button" id="start" class="rounded-pill text-white border-0 px-5 py-2" style="background-color: rgb(29,113,187); font-size: 30px">Start</button>
		<button type="button" id="stop" class="rounded-pill text-white border-0 px-5 py-2" style="background-color: rgb(29,113,187); font-size: 30px">Stop</button>
		<button class="rounded-pill text-white border-0 px-5 py-2 mt-2" style="background-color: rgb(29,113,187); font-size: 30px">Record</button>
	</form>
  </center>
</div>
{{> navbar}}
